.App {
  text-align: center;
  align-items: center;
  /* background-color: white; */
  padding: 3%;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* background-color: black; */
  /* color: white; */
}



.item{
  margin-top: 50px;
}

.google-visualization-controls-slider-thumb {
  background-color: #547881 !important;
}


.google-visualization-controls-rangefilter-thumblabel{
  color: black !important;
}

a {
  color:  #547881;
}